<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persistence.ProductInfoMapper">
	<insert id="insert">
		INSERT INTO product_info(product_no, product_name, price)
		VALUES (#{productNo}, #{productName}, #{price})
		<!--VALUES ('12', 'test', 1)-->
	</insert>
	<select id="select" resultType="com.example.domain.ProductInfo">
		<bind name="pNameLike" value="'%' + searchProductName + '%'"/>
		SELECT * FROM product_info
		<where>
			<if test="searchProductNo != ''">
				product_no = #{searchProductNo}
			</if>
			<if test="searchProductName != ''">
				AND product_name = #{searchProductName}
			</if>
			<if test="searchMinPrice != null">
				<![CDATA[ AND price >= #{searchMinPrice} ]]>
			</if>
			<if test="searchMaxPrice != null">
				<![CDATA[ AND price >= #{searchMaxPrice} ]]>
			</if>
		</where>
		ORDER BY id
	</select>
</mapper>