<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>伝言フォーム</h1>
	<form th:action="@{/controller-sample-result}" th:object="${csForm}" method="post">

		お名前:
		<input type="text" th:field="*{name}">
		<br>
		伝言:

		<textarea th:field="*{message}"></textarea>
		<br>

		<input type="submit" value="送信">
		<br>

		<a th:href="@{/controller-sample-result?msg=固定メッセージ}">固定メッセージ送信</a>
	</form>
</body>
</html>