<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<title>Insert title here</title>
</head>
<body>
	<h1>製品情報登録</h1>
	<p>登録する製品情報を入力してください</p>
	<form th:action="@{/insert-sample-conf}" th:object="${insertForm}" method="post">
	
		<p th:errors="*{all}" class="error-message">error!</p>
	
		<table>
			<tr>
				<td>製品番号</td>
				<td><input type="text" th:field="*{productNo}" maxlength="5" th:errorclass="error-input"></td>
			</tr>
			<tr>
				<td>製品名</td>
				<td><input type="text" th:field="*{productName}" th:errorclass="error-input"></td>
			</tr>
			<tr>
				<td>価格</td>
				<td><input type="number" th:field="*{price}" th:errorclass="error-input"></td>
			</tr>
		</table>
		<input type="submit" value="確認">
	</form>
</body>
</html>